/*
*   Style: Ayu Dark
*   https://github.com/ayu-theme/ayu
*/

$color: #f8f8f2;  // 字体颜色（浅色）
$background-color: #272822;  // 背景颜色（深色）
$error-color: #bb0064;  // 错误色（粉红色）
$keyword-color: #7aa2f7;  // 关键字颜色（淡蓝色）
$text-color: $color;  // 文字颜色（与字体颜色相同）
$name-color: #c3e88d;  // 标识颜色（淡绿色）
$literal-color: #e6db74;  // 文本文字常量颜色（黄色）

@import "common.scss";
